@use "../styles/variables.scss" as *;

.apartement-page{
  color: $color-primary;
 .Apartment__description__area {
    display: flex;
    gap: 1rem;
    @media screen and (width <= 768px) {
      flex-direction: column;
    }
  }
} 