@use "../styles/variables.scss" as *;

.description__panel {
  margin-bottom: 1rem;
  flex-basis: 50%;
  overflow: hidden;
    p {
      margin-block: 0;
    }
    
    .description__title{
      background-color: $color-primary;
      color: $color-tertiary;
      padding: 0.2em 1em;
      border-radius: 0.7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        font-size: 2rem;
        cursor: pointer;
   
      }
    }
    .description__content{
      background-color: $background-light;
      color: black;
      padding: 1rem;
      font-size: 22px;
      border-radius: 0.7rem;
      position: relative;
      top: -0.3rem;
      z-index: -1;
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 1s ease-in-out, max-height 1s ease-in-out;  
    }
  
  

    .visible {
      opacity: 1;
      max-height: 250px; // Ajustez en fonction du contenu
    }
    
    .hidden {
      opacity: 0;
      max-height: 0;
    }
}