$color-primary: #de6561;
$color-seconary: #863535;
$gid-background-dark: rgba( 0, 0, 0, 0.119);
$gid-background-light: white;
$color-tertiary:white;
$footer-background-color:black;
$background-light: #f6f6f6;